div.main {
    flex-grow: 1;
    align-content: center;
	height: calc(100vh - 61px);
    justify-content: center;
}

div.title-header {
    margin-top: -10px;
    align-content: center;
    margin-inline: auto;
    width: min-content;
    display: block;
    text-align: center;
}

.title-header h1 {
    font-size: 50px;
    color: white;
    margin-bottom: 10px;
}

.title-header img {
    width: 130px;
    mix-blend-mode: lighten;
    margin-bottom: 20px;
}

.title-header h1 .japanese {
    display: block;
    font-size: 20px;
    text-align: left;
    color: var(--primary)
}

div.description {
    color: oklch(0.8 0 0);
    text-wrap: balance;
    text-align: center;
    width: 80%;
    margin-inline: auto;
	padding-block: 10px;
	font-size: 17px;
	font-weight: 400;
	line-height: 30px !important;
}

div.button-holder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
    user-select: none;
    margin-top: 20px;
    color: oklch(0.8 0 0);
    text-wrap: balance;
    text-align: center;
}

.button-holder a {
	text-decoration: none;
	padding-block: 15px;
	padding-inline: 30px;
	padding-top: 18px;
	color: white;
	border: 3px solid white;
	border-radius: calc(2% + 11px);
	transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
	box-shadow: 0 0 10px 10px black inset;
}

.button-holder a.primary {
	border-color: var(--primary);
}

.button-holder a:hover {
	color: black;
	box-shadow: 0 0 0px transparent inset,
		0 0 30px rgba(255, 255, 255, 0.3);
    background: white;
}

.button-holder a.primary:hover {
    color: white;
	background: var(--primary);
	box-shadow: 0 0 0px transparent inset,
		0 0 30px -5px var(--primary-dark);
}

.button-holder a:active {
	scale: 0.9;
	opacity: 0.89;
}
